spring:
#  sql:
#    init:
#      mode: always      # 항상 schema.sql, data.sql 실행
#      schema-locations: classpath:schema.sql
#      data-locations: classpath:data.sql
#
#  batch:
#    jdbc:
#      initialize-schema: always
#    job:
#      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/Otboo
    driver-class-name: org.postgresql.Driver
    username: Otboo
    password: 1234
  jpa:
    hibernate:
      ddl-auto: create
    database: postgresql
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        generate_statistics: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
kma:
  service-key: ${KMA_KEY}
kakao:
  rest-key: ${KAKAO_KEY}
logging:
  level:
    org:
      hibernate:
        sql: warn
        type.descriptor.sql: trace
jwt:
  secret: 개발용_비밀키_32자리_이상_랜덤값
  access-expiration: 3600000 #1시간
  refresh-expiration: 604800000 #7일